.header {
  flex: 0 0 4.5rem;
  height: 4.5rem;
}

.content-area {
  padding: 0 !important;
}

.toolbar {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin: 0;
}

.logo-container {
  padding: 20px 0 20px 25px;
}

#logo {
  max-height: 43px;
}

.sidenav {
  background: #fff;
  border: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.sidenav-content {
  flex: 0 1 auto;
  padding-bottom: 0;
}

.sidenav-content > .nav-link {
  color: #525a60;
  margin: 0;
  padding: 20px 0 20px 25px;
}

.sidenav-content > .nav-link.active,
.sidenav-content > .nav-link:hover {
  background: #fee8d2;
}

.sidenav-content fa-icon {
  color: #f68c1e;
}

.placeholder {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.value {
  margin-top: 7px;
  font-size: 14px;
}

/*material's tabs*/
/deep/ #header-tabs .mat-tab-header {
  height: 4.5rem;
}

/deep/ #header-tabs .mat-tab-labels {
  height: 4.5rem;
}

/deep/ #header-tabs .mat-tab-label {
  height: 4.5rem !important;
}

/deep/ #header-tabs .mat-tab-body-wrapper {
  height: 0;
}

/*material's tabs end*/

.navbar-btn {
  height: 4.5rem;
  color: #525a60;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.navbar-btn:hover {
  cursor: pointer;
  color: #00a199;
}

.credits {
  cursor: default;
  text-align: center;
  font-size: 8px;
  /*margin-bottom: 5px;*/
}

.version {
  text-align: center;
  margin-bottom: 5px;
  /*margin-bottom: -4px;*/
  font-size: 8px;
}

.newaccount {
  padding: 0 10px;
}

.cog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
}

.cog:focus {
  outline: 0;
}

.max-width {
  max-width: calc(100% - 257px);
}

/deep/ .mat-radio-button {
  display: block !important;
}

/deep/ .mat-radio-outer-circle {
  border-color: #858585;
}

/deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #00a199;
}

/deep/ .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #00a199;
}

#textarea {
  background: #b1b1b1;
  border: 2px solid #00a199;
}

.deleteteacc {
  font-size: 1.5em !important;

}

.deleteteacc:hover {
  color: white;
  cursor: pointer;
}
