.header {
    flex: 0 0 4.5rem;
    height: 4.5rem;
}

.content-area {
    padding: 0 !important;
}

.sidenav-header {
    flex: 0 0 auto;
    padding: 17px 20px 17px 20px;
    text-align: center;
    border-right: 1px solid #535353;
}

.sidenav {
    border: none;
}

.sidenav-content {
    /*display: table-row;*/
    flex: 0 1 auto;
    padding-bottom: 0;
}

.sidenav .sidenav-content>.nav-link {
    border-right: 1px solid #535353;
    color: #b1b1b1;
    margin: 0;
    padding: 20px 0 20px 25px;
}

.placeholder {
    border-right: 1px solid #535353;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.value {
    margin-top: 7px;
    font-size: 14px;
}

/*material's tabs*/
/deep/ #header-tabs .mat-tab-header {
    height: 4.5rem;
}

/deep/ #header-tabs .mat-tab-labels {
    height: 4.5rem;
}

/deep/ #header-tabs .mat-tab-label {
    height: 4.5rem !important;
}

/deep/ #header-tabs .mat-tab-body-wrapper {
    height: 0;
}
/*material's tabs end*/

.navbar-btn {
    height: 4.5rem;
    color: #525a60;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.navbar-btn:hover {
    cursor: pointer;
    color: #007cbb;
}

.credits {
    cursor: default;
    text-align: center;
    font-size: 15px;
    margin-bottom: -4px;
    /*margin-bottom: 5px;*/
}

.version {
    text-align: center;
    margin-bottom: 5px;
    /*margin-bottom: -4px;*/
    font-size: 12px;
}

.newaccount {
    padding: 0 10px;
}

.cog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
}

.cog:focus {
    outline: 0;
}

.max-width {
    max-width: calc(100% - 257px);
}

/deep/ .mat-radio-button {
    display: block !important;
}

/deep/ .mat-radio-outer-circle {
    border-color: #858585;
}

/deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #007CBB;
}

/deep/ .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #007CBB;
}

#textarea {
    background: #b1b1b1;
    border: 2px solid #065e8d;
}

.deleteteacc {
  font-size: 1.5em !important;

}

.deleteteacc:hover {
  color: white;
  cursor: pointer;
}
